<!-- app/views/dashboard/_gcode -->
<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Send G-Code</h3>
  </div>
  <div class="panel-body">
    <p>Send a G-code command directly to the GRBL controller.</p>
      <div class="input-group">
        <%= text_field_tag :gcode_command, '', class: 'form-control', placeholder: 'enter gcode' %>
        <span class="input-group-btn">
          <%= submit_tag 'Send', id: 'send_gcode_btn', class: 'btn btn-warning' %>
        </span>
      </div>
  </div>
</div>
<script>
  $(document).ready(function() {
    $('#send_gcode_btn').click(function(event) {
      var gcode = $('#gcode_command').val();
      // TODO: Send this gcode value to roslib instead of nowhere
      alert('TODO: Sending ' + gcode);
      event.preventDefault();
    })
  });
</script>
