<!-- app/views/dashboard/_gcode -->
<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Send G-Code</h3>
  </div>
  <div class="panel-body">
    <p>Send a G-code command directly to the GRBL controller.</p>
      <div class="input-group">
        <%= text_field_tag :gcode_command, '', class: 'form-control', placeholder: 'enter gcode' %>
        <span class="input-group-btn">
          <%= submit_tag 'Send', id: 'send_gcode_btn', class: 'btn btn-warning' %>
        </span>
      </div>
  </div>
</div>
<script src="https://static.robotwebtools.org/EventEmitter2/current/eventemitter2.min.js"></script>
<script src="http://static.robotwebtools.org/roslibjs/current/roslib.min.js"></script>

<script>
  $(document).ready(function() {
    ros.on('close', function() {
      $('#send_gcode_btn').prop('disabled', true);
    });
    $('#send_gcode_btn').click(function(event) {
      // Stop this event from propagating
      event.preventDefault();

      // Fetch the text value, if there is one
      var gcode = $('#gcode_command').val();

      // Return if there is no gcode to send
      if (gcode == '') { return }
      
      // Send this gcode value to roslib instead of alert
      var manualGcodeClient = new ROSLIB.Service({
        ros : ros,
        name : '/manual_service',
        serviceType : 'hyper_rail/ManualService'
      });
      
      var request = new ROSLIB.ServiceRequest({
        GCode : gcode
      });
      
      manualGcodeClient.callService(request, function(result) {
        console.log('Response to service call on '
          + manualGcodeClient.name
          + ': '
          + result.status);
      });
    })
  });
</script>
