<!-- app/views/dashboard/_status -->
<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Machine Status</h3>
  </div>
  <div class="panel-body">
    <p>Paragraph about the machine status and summary goes here</p>
  </div>

  <table class="table">
    <tr>
      <th class="text-right">Program</th>
      <td>&lt;not running&gt;</td>
    </tr>
    <tr>
      <th class="text-right">Position X</th>
      <td id="position_x">0.0</td>
    </tr>
    <tr>
      <th class="text-right">Position Y</th>
      <td id="position_y">0.0</td>
    </tr>
    <tr>
      <th class="text-right">Temperature</th>
      <td><%= if sensor_reading = SensorReading.latest_for('temperature')
                "#{sensor_reading.value.round(2)}&deg;<br/>".html_safe + time_tag(sensor_reading.created_at)
              else
                "&lt;none yet&gt;".html_safe
              end %></td>
    </tr>
    <tr>
      <th class="text-right">Humidity</th>
      <td><%= if sensor_reading = SensorReading.latest_for('humidity')
                "#{sensor_reading.value.round(1)}%<br/>".html_safe + time_tag(sensor_reading.created_at)
              else
                "&lt;none yet&gt;".html_safe
              end %></td>
    </tr>
    <tr>
      <th class="text-right">Luminosity</th>
      <td><%= if sensor_reading = SensorReading.latest_for('lux')
                "#{number_with_delimiter(sensor_reading.value.to_i.round)} lux<br/>".html_safe + time_tag(sensor_reading.created_at)
              else
                "&lt;none yet&gt;".html_safe
              end %></td>
    </tr>
  </table>
</div>
