<!-- app/views/dashboard/_status -->
<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Machine Status</h3>
  </div>
  <div class="panel-body">
    <p>Paragraph about the machine status and summary goes here</p>
  </div>

  <table class="table">
    <tr>
      <th class="text-right">Program</th>
      <td>&lt;not running&gt;</td>
    </tr>
    <tr>
      <th class="text-right">Position X</th>
      <td id="position_x">0.0</td>
    </tr>
    <tr>
      <th class="text-right">Position Y</th>
      <td id="position_y">0.0</td>
    </tr>
    <tr>
      <th class="text-right">Temperature</th>
      <td>&lt;fetch from db?&gt;</td>
    </tr>
    <tr>
      <th class="text-right">Humidity</th>
      <td>&lt;fetch from db?&gt;</td>
    </tr>
    <tr>
      <th class="text-right">Luminosity</th>
      <td>&lt;fetch from db?&gt;</td>
    </tr>
  </table>
</div>
