<div class="row">
  <div class="col-lg-4 col-md-6 col-md-offset-0 col-sm-8 col-sm-offset-2 col-xs-12">
    <%= render 'dashboard/status' %>
  </div>
  <div class="col-lg-4 col-md-6 col-md-offset-0 col-sm-8 col-sm-offset-2 col-xs-12">
    <%= render 'dashboard/gcode' %>
  </div>
  <div class="col-lg-4 col-md-6 col-md-offset-0 col-sm-8 col-sm-offset-2 col-xs-12">
    <%= render 'dashboard/quick_controls' %>
  </div>
</div>
<div>
    <%= render 'dashboard/grid_builder' %>
</div>