<h1>Quick Control</h1>

<div class="row">
  <div class="container col-md-4">
    <svg id="jog_dial" xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="-5 -5 110 110">
        <circle cx="50" cy="50" r="50" style="fill: #eee; stroke-width: 0.5; stroke: black">
            <title>100 centimeters</title>
        </circle>
        <circle cx="50" cy="50" r="37.5" style="fill: #ccc">
            <title>10 centimeters</title>
        </circle>
        <circle cx="50" cy="50" r="25" style="fill: #aaa">
            <title>1 centimeter</title>
        </circle>
        <circle cx="50" cy="50" r="12.5" style="fill: white"></circle>
        <g style="fill: #777; stroke-width:0.5; cursor: pointer; cursor: hand">
          <polygon points="30,10 50,2.5 70,10" data-action="Move up 100cm" />
          <polygon points="10,30 2.5,50 10,70" data-action="Move left 100cm" />
          <polygon points="90,30 97.5,50 90,70" data-action="Move right 100cm" />
          <polygon points="30,90 50,97.5 70,90" data-action="Move down 100cm" />
        </g>
        <g style="fill: #555; stroke-width:0.5; cursor: pointer; cursor: hand">
          <polygon points="32.5,22.5 50,15 67.5,22.5" data-action="Move up 10cm" />
          <polygon points="22.5,32.5 15,50 22.5,67.5" data-action="Move left 10cm" />
          <polygon points="77.5,32.5 85,50 77.5,67.5" data-action="Move right 10cm" />
          <polygon points="32.5,77.5 50,85 67.5,77.5" data-action="Move down 10cm" />
        </g>
        <g style="fill: #333; stroke-width:0.5; cursor: pointer; cursor: hand">
          <polygon points="35,35 50,27.5 65,35" data-action="Move up 1cm" />
          <polygon points="35,35 27.5,50 35,65" data-action="Move left 1cm" />
          <polygon points="65,35 72.5,50 65,65" data-action="Move right 1cm" />
          <polygon points="35,65 50,72.5 65,65" data-action="Move down 1cm" />
        </g>
    </svg>

    
  </div>

  <div>
    <svg id="grid" width="1000" height="1000" version="1.1" xmlns="http://www.w3.org/2000/svg">
        <g style="cursor: pointer; cursor: hand">
            <rect id="square1" x="1%" y="1%" width="5%" height="5%" stroke="black" fill="transparent" fill-opacity="0" stroke-width="1"/>
            <rect id="square2" x="6%" y="1%" width="5%" height="5%" stroke="black" fill="transparent" stroke-width="1"/>
            <rect id="square3" x="11%" y="1%" width="5%" height="5%" stroke="black" fill="transparent" stroke-width="1"/>
            <rect id="square4" x="16%" y="1%" width="5%" height="5%" stroke="black" fill="transparent" stroke-width="1"/>
            <rect id="square5" x="21%" y="1%" width="5%" height="5%" stroke="black" fill="transparent" stroke-width="1"/>
            <rect id="square6" x="26%" y="1%" width="5%" height="5%" stroke="black" fill="transparent" stroke-width="1"/>
            <rect id="square7" x="31%" y="1%" width="5%" height="5%" stroke="black" fill="transparent" stroke-width="1"/>
            <rect id="square8" x="36%" y="1%" width="5%" height="5%" stroke="black" fill="transparent" stroke-width="1"/>
            <rect id="square9" x="41%" y="1%" width="5%" height="5%" stroke="black" fill="transparent" stroke-width="1"/>
            <rect id="square10" x="46%" y="1%" width="5%" height="5%" stroke="black" fill="transparent" stroke-width="1"/>

            <rect id="square11" x="1%" y="6%" width="5%" height="5%" stroke="black" fill="transparent" stroke-width="1"/>
            <rect id="square12" x="6%" y="6%" width="5%" height="5%" stroke="black" fill="transparent" stroke-width="1"/>
            <rect id="square13" x="11%" y="6%" width="5%" height="5%" stroke="black" fill="transparent" stroke-width="1"/>
            <rect id="square14" x="16%" y="6%" width="5%" height="5%" stroke="black" fill="transparent" stroke-width="1"/>
            <rect id="square15" x="21%" y="6%" width="5%" height="5%" stroke="black" fill="transparent" stroke-width="1"/>
            <rect id="square16" x="26%" y="6%" width="5%" height="5%" stroke="black" fill="transparent" stroke-width="1"/>
            <rect id="square17" x="31%" y="6%" width="5%" height="5%" stroke="black" fill="transparent" stroke-width="1"/>
            <rect id="square18" x="36%" y="6%" width="5%" height="5%" stroke="black" fill="transparent" stroke-width="1"/>
            <rect id="square19" x="41%" y="6%" width="5%" height="5%" stroke="black" fill="transparent" stroke-width="1"/>
            <rect id="square20" x="46%" y="6%" width="5%" height="5%" stroke="black" fill="transparent" stroke-width="1"/>

            <rect id="square21" x="1%" y="11%" width="5%" height="5%" stroke="black" fill="transparent" stroke-width="1"/>
            <rect id="square22" x="6%" y="11%" width="5%" height="5%" stroke="black" fill="transparent" stroke-width="1"/>
            <rect id="square23" x="11%" y="11%" width="5%" height="5%" stroke="black" fill="transparent" stroke-width="1"/>
            <rect id="square24" x="16%" y="11%" width="5%" height="5%" stroke="black" fill="transparent" stroke-width="1"/>
            <rect id="square25" x="21%" y="11%" width="5%" height="5%" stroke="black" fill="transparent" stroke-width="1"/>
            <rect id="square26" x="26%" y="11%" width="5%" height="5%" stroke="black" fill="transparent" stroke-width="1"/>
            <rect id="square27" x="31%" y="11%" width="5%" height="5%" stroke="black" fill="transparent" stroke-width="1"/>
            <rect id="square28" x="36%" y="11%" width="5%" height="5%" stroke="black" fill="transparent" stroke-width="1"/>
            <rect id="square29" x="41%" y="11%" width="5%" height="5%" stroke="black" fill="transparent" stroke-width="1"/>
            <rect id="square30" x="46%" y="11%" width="5%" height="5%" stroke="black" fill="transparent" stroke-width="1"/>

            <rect id="square31" x="1%" y="16%" width="5%" height="5%" stroke="black" fill="transparent" stroke-width="1"/>
            <rect id="square32" x="6%" y="16%" width="5%" height="5%" stroke="black" fill="transparent" stroke-width="1"/>
            <rect id="square33" x="11%" y="16%" width="5%" height="5%" stroke="black" fill="transparent" stroke-width="1"/>
            <rect id="square34" x="16%" y="16%" width="5%" height="5%" stroke="black" fill="transparent" stroke-width="1"/>
            <rect id="square35" x="21%" y="16%" width="5%" height="5%" stroke="black" fill="transparent" stroke-width="1"/>
            <rect id="square36" x="26%" y="16%" width="5%" height="5%" stroke="black" fill="transparent" stroke-width="1"/>
            <rect id="square37" x="31%" y="16%" width="5%" height="5%" stroke="black" fill="transparent" stroke-width="1"/>
            <rect id="square38" x="36%" y="16%" width="5%" height="5%" stroke="black" fill="transparent" stroke-width="1"/>
            <rect id="square39" x="41%" y="16%" width="5%" height="5%" stroke="black" fill="transparent" stroke-width="1"/>
            <rect id="square40" x="46%" y="16%" width="5%" height="5%" stroke="black" fill="transparent" stroke-width="1"/>

            <rect id="square41" x="1%" y="21%" width="5%" height="5%" stroke="black" fill="transparent" stroke-width="1"/>
            <rect id="square42" x="6%" y="21%" width="5%" height="5%" stroke="black" fill="transparent" stroke-width="1"/>
            <rect id="square43" x="11%" y="21%" width="5%" height="5%" stroke="black" fill="transparent" stroke-width="1"/>
            <rect id="square44" x="16%" y="21%" width="5%" height="5%" stroke="black" fill="transparent" stroke-width="1"/>
            <rect id="square45" x="21%" y="21%" width="5%" height="5%" stroke="black" fill="transparent" stroke-width="1"/>
            <rect id="square46" x="26%" y="21%" width="5%" height="5%" stroke="black" fill="transparent" stroke-width="1"/>
            <rect id="square47" x="31%" y="21%" width="5%" height="5%" stroke="black" fill="transparent" stroke-width="1"/>
            <rect id="square48" x="36%" y="21%" width="5%" height="5%" stroke="black" fill="transparent" stroke-width="1"/>
            <rect id="square49" x="41%" y="21%" width="5%" height="5%" stroke="black" fill="transparent" stroke-width="1"/>
            <rect id="square50" x="46%" y="21%" width="5%" height="5%" stroke="black" fill="transparent" stroke-width="1"/>

            <rect id="square51" x="1%" y="26%" width="5%" height="5%" stroke="black" fill="transparent" stroke-width="1"/>
            <rect id="square52" x="6%" y="26%" width="5%" height="5%" stroke="black" fill="transparent" stroke-width="1"/>
            <rect id="square53" x="11%" y="26%" width="5%" height="5%" stroke="black" fill="transparent" stroke-width="1"/>
            <rect id="square54" x="16%" y="26%" width="5%" height="5%" stroke="black" fill="transparent" stroke-width="1"/>
            <rect id="square55" x="21%" y="26%" width="5%" height="5%" stroke="black" fill="transparent" stroke-width="1"/>
            <rect id="square56" x="26%" y="26%" width="5%" height="5%" stroke="black" fill="transparent" stroke-width="1"/>
            <rect id="square57" x="31%" y="26%" width="5%" height="5%" stroke="black" fill="transparent" stroke-width="1"/>
            <rect id="square58" x="36%" y="26%" width="5%" height="5%" stroke="black" fill="transparent" stroke-width="1"/>
            <rect id="square59" x="41%" y="26%" width="5%" height="5%" stroke="black" fill="transparent" stroke-width="1"/>
            <rect id="square60" x="46%" y="26%" width="5%" height="5%" stroke="black" fill="transparent" stroke-width="1"/>

            <rect id="square61" x="1%" y="31%" width="5%" height="5%" stroke="black" fill="transparent" stroke-width="1"/>
            <rect id="square62" x="6%" y="31%" width="5%" height="5%" stroke="black" fill="transparent" stroke-width="1"/>
            <rect id="square63" x="11%" y="31%" width="5%" height="5%" stroke="black" fill="transparent" stroke-width="1"/>
            <rect id="square64" x="16%" y="31%" width="5%" height="5%" stroke="black" fill="transparent" stroke-width="1"/>
            <rect id="square65" x="21%" y="31%" width="5%" height="5%" stroke="black" fill="transparent" stroke-width="1"/>
            <rect id="square66" x="26%" y="31%" width="5%" height="5%" stroke="black" fill="transparent" stroke-width="1"/>
            <rect id="square67" x="31%" y="31%" width="5%" height="5%" stroke="black" fill="transparent" stroke-width="1"/>
            <rect id="square68" x="36%" y="31%" width="5%" height="5%" stroke="black" fill="transparent" stroke-width="1"/>
            <rect id="square69" x="41%" y="31%" width="5%" height="5%" stroke="black" fill="transparent" stroke-width="1"/>
            <rect id="square70" x="46%" y="31%" width="5%" height="5%" stroke="black" fill="transparent" stroke-width="1"/>

            <rect id="square71" x="1%" y="36%" width="5%" height="5%" stroke="black" fill="transparent" stroke-width="1"/>
            <rect id="square72" x="6%" y="36%" width="5%" height="5%" stroke="black" fill="transparent" stroke-width="1"/>
            <rect id="square73" x="11%" y="36%" width="5%" height="5%" stroke="black" fill="transparent" stroke-width="1"/>
            <rect id="square74" x="16%" y="36%" width="5%" height="5%" stroke="black" fill="transparent" stroke-width="1"/>
            <rect id="square75" x="21%" y="36%" width="5%" height="5%" stroke="black" fill="transparent" stroke-width="1"/>
            <rect id="square76" x="26%" y="36%" width="5%" height="5%" stroke="black" fill="transparent" stroke-width="1"/>
            <rect id="square77" x="31%" y="36%" width="5%" height="5%" stroke="black" fill="transparent" stroke-width="1"/>
            <rect id="square78" x="36%" y="36%" width="5%" height="5%" stroke="black" fill="transparent" stroke-width="1"/>
            <rect id="square79" x="41%" y="36%" width="5%" height="5%" stroke="black" fill="transparent" stroke-width="1"/>
            <rect id="square80" x="46%" y="36%" width="5%" height="5%" stroke="black" fill="transparent" stroke-width="1"/>

            <rect id="square81" x="1%" y="41%" width="5%" height="5%" stroke="black" fill="transparent" stroke-width="1"/>
            <rect id="square82" x="6%" y="41%" width="5%" height="5%" stroke="black" fill="transparent" stroke-width="1"/>
            <rect id="square83" x="11%" y="41%" width="5%" height="5%" stroke="black" fill="transparent" stroke-width="1"/>
            <rect id="square84" x="16%" y="41%" width="5%" height="5%" stroke="black" fill="transparent" stroke-width="1"/>
            <rect id="square85" x="21%" y="41%" width="5%" height="5%" stroke="black" fill="transparent" stroke-width="1"/>
            <rect id="square86" x="26%" y="41%" width="5%" height="5%" stroke="black" fill="transparent" stroke-width="1"/>
            <rect id="square87" x="31%" y="41%" width="5%" height="5%" stroke="black" fill="transparent" stroke-width="1"/>
            <rect id="square88" x="36%" y="41%" width="5%" height="5%" stroke="black" fill="transparent" stroke-width="1"/>
            <rect id="square89" x="41%" y="41%" width="5%" height="5%" stroke="black" fill="transparent" stroke-width="1"/>
            <rect id="square90" x="46%" y="41%" width="5%" height="5%" stroke="black" fill="transparent" stroke-width="1"/>

            <rect id="square61" x="1%" y="46%" width="5%" height="5%" stroke="black" fill="transparent" stroke-width="1"/>
            <rect id="square62" x="6%" y="46%" width="5%" height="5%" stroke="black" fill="transparent" stroke-width="1"/>
            <rect id="square63" x="11%" y="46%" width="5%" height="5%" stroke="black" fill="transparent" stroke-width="1"/>
            <rect id="square64" x="16%" y="46%" width="5%" height="5%" stroke="black" fill="transparent" stroke-width="1"/>
            <rect id="square65" x="21%" y="46%" width="5%" height="5%" stroke="black" fill="transparent" stroke-width="1"/>
            <rect id="square66" x="26%" y="46%" width="5%" height="5%" stroke="black" fill="transparent" stroke-width="1"/>
            <rect id="square67" x="31%" y="46%" width="5%" height="5%" stroke="black" fill="transparent" stroke-width="1"/>
            <rect id="square68" x="36%" y="46%" width="5%" height="5%" stroke="black" fill="transparent" stroke-width="1"/>
            <rect id="square69" x="41%" y="46%" width="5%" height="5%" stroke="black" fill="transparent" stroke-width="1"/>
            <rect id="square70" x="46%" y="46%" width="5%" height="5%" stroke="black" fill="transparent" stroke-width="1"/>
        </g>
    </svg>
  </div>
  <div class="container col-md-8 bg-info">
  </div>
</div>
<script>
    $('polygon').click(function() {
      alert('Movement dial clicked: ' + $(this).data('action'));
    });

    
    $('rect').click(function() {
        var svgElement = document.getElementById($(this).attr('id'));

        if(svgElement.getAttribute('fill') == 'black')
        {
            svgElement.setAttribute('fill', 'transparent');
        }
        else
        {
            svgElement.setAttribute('fill-opacity', '0.2');
            svgElement.setAttribute('fill', 'black');
        }
    });
</script>