<% flash.each do |name, msg| %>
  <div class="container" style="margin-top: 1em">
    <% if msg.is_a?(String) %>
      <div class="alert <%= bootstrap_class_for(name) %> alert-dismissable" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <%= msg %>
      </div>
    <% end %>
  </div>
<% end %>