<!-- Modal -->
<div class="modal fade" id="exportModal" tabindex="-1" role="dialog" aria-labelledby="exportModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exportModalLabel">Export Analysis</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>
          Currently there are two ways to export sensor data, either averaged or for each individual waypoint (x/y coordinate).
          <ol>
            <li>Aggregate sensor readings for per program run (one averaged sensor reading per sensor per program run)</li>
            <li>Individual sensor readings for each waypoint for a program run (hundreds of largely identical sensor readings per program run)</li>
          </ol>
        </p>
        <div class="row">
          <div class="col-md-6 text-right">
            <%= link_to 'Download Aggregate Readings', '', id: 'aggregate_readings', class: 'btn btn-sm btn-primary' %>
          </div>
          <div class="col-md-6 text-left">
            <%= link_to 'Download Individual Readings', '', id: 'individual_readings', class: 'btn btn-sm btn-primary' %>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
