<div class="h1">Showing <%= @analysis.name %></div>

<h3>this is where we'd put something showing your SVG thingie</h3>
<%= link_to 'Edit', edit_analysis_path(@analysis), class: 'btn btn-success btn-sm' %>
<%= link_to 'Back', analyses_path, class: 'btn btn-default btn-sm' %>
