<!-- app/sessions/new.html.erb -->
<h1 class="text-center">Log in</h1>

<div class="row">
  <div class="col-lg-4 col-lg-offset-4">
    <%= form_tag(session_path) do |form| %>
      <div class="input-group">
        <%= password_field_tag :password, '', class: 'form-control', placeholder: 'enter password' %>
        <span class="input-group-btn">
          <%= submit_tag 'Log in', class: 'btn btn-default' %>
        </span>
      </div>
    <% end %>
  </div>
</div>
